@using PagedList;
@using PagedList.Mvc;
@using System.Web.Mvc.Html
@model PagedList.IPagedList<Low_cost_flights.Models.FlightData>
@using Low_cost_flights.Controllers
@{
    ViewBag.Title = "Flight data";

}

@Scripts.Render("~/bundles/modernizr")

<style type="text/css">
    .content {
        text-align: center;
    }

    .inner {
        display: inline-block;
    }

    .flightView tr {
        line-height: 12px;
    }
</style>
@if (Model == null || Model.Count() == 0)
{
    <i style="display:block;text-align:center;">Nema rezultata</i>
}
else
{
    <table class="table table-bordered table-condensed table-striped text-center flightView" runat="server" id="flightView" style="position:center;">
        <tr>
            <th rowspan="2" class="text-center" style="text-align:center;vertical-align:middle">
                Polazni aerodrom
            </th>
            <th rowspan="2" class="text-center" style="text-align:center;vertical-align:middle">
                Odredišni aerodrom
            </th>
            <th rowspan="2" class="text-center" style="text-align:center;vertical-align:middle">
                Datum polaska
            </th>
            <th rowspan="2" class="text-center" style="text-align:center;vertical-align:middle">
                Datum povratka
            </th>
            <th colspan="2" class="text-center" style="text-align:center;vertical-align:middle">
                Presjedanja
            </th>
            <th rowspan="2" class="text-center" style="text-align:center;vertical-align:middle">
                Putnici
            </th>
            <th rowspan="2" class="text-center" style="text-align:center;vertical-align:middle">
                Cijena
            </th>
        </tr>
        <tr>
            <th>Dolazak</th>
            <th>Odlazak</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr style="vertical-align:middle;">
                <td style="text-align:center;vertical-align:middle">
                    @Html.DisplayFor(modelItem => item.departureAirport)
                </td>
                <td style="text-align:center;vertical-align:middle">
                    @Html.DisplayFor(modelItem => item.destinationAirport)
                </td>
                <td style="text-align:center;vertical-align:middle">
                    @Html.DisplayFor(modelItem => item.departureDateTime)
                </td>
                <td style="text-align:center;vertical-align:middle">
                    @Html.DisplayFor(modelItem => item.destinationDateTime)
                </td>
                <td style="text-align:center;vertical-align:middle">
                    @Html.DisplayFor(modelItem => item.transferNumberDeparture)
                </td>
                <td style="text-align:center;vertical-align:middle">
                    @Html.DisplayFor(modelItem => item.transferNumberArrival)
                </td>
                <td style="text-align:center;vertical-align:middle">
                    @Html.DisplayFor(modelItem => item.passagers)
                </td>
                <td style="text-align:center;vertical-align:middle">
                    @{var cost = item.totalCost + " " + item.currency;}
                    @Html.DisplayFor(modelItem => cost)
                </td>
            </tr>
        }
    </table>
}

@if (Model != null && Model.Count() != 0)
{
<div id="paginationFlightView">
    <div style="position:absolute;left:50%">
        <div style="position: relative; left: -50%;">
            @Html.PagedListPager(Model, page => Url.Action("GetFlightViewPage", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
        </div>
    </div>
    <label style="font-weight:normal;padding-left:10px;">@Model.Count() od @HomeController.elementsPerPage zapisa </label>
    <label style="font-weight:normal;margin-right:10px; position:relative;float:right">
        Zapisi po stranici:
        <select class="mdb-select md-form multiselect" id="elementsPerPage">
            <option id="10" value="10">10</option>
            <option id="20" value="20">20</option>
            <option id="50" value="50">50</option>
        </select>
    </label>


</div>
}




<!--Default skripta za postavljanje elemenata na stranici-->
<script>
    (function ($) {
        $(function () {
            $.ajax({
                url: '@Url.Action("GetElementsPerPage", "Home")',
                type: 'GET',
                success: function (elementNumber) {
                    jQuery.each($('#elementsPerPage option'), function (listID, element) {
                        if (element.value == elementNumber)
                            element.selected = true;
                        else
                            element.selected = false;
                    });
                },
                error: function (error) {
                    debugger;
                     alert("Greška u dohvaćanju broja elemenata po stranici.");
                }
            });
        });
    })(jQuery);
</script>


<!--Metoda koja se aktivira kada promjenimo broj elemenata po stranici-->
<script>
    $('#elementsPerPage').change(function (elementsNumber) {
        $.ajax({
            url: '@Url.Action("ChangeElementsPerPage", "Home")',
            type: 'POST',
            data: {
                'newElementsNumber': elementsNumber.target.value
            },
            success: function () {

                //$('#reloadGIF').show();
                //$('#resultTable').hide();
                //FilterData();
                GetNewData();
            },
            error: function (error) {
                debugger;
                alert("Greška u promjeni broja elemenata po stranici.");
            }
        });
    });
</script>



<!--Skripta koja sluzi da se dohvate stranice tj. da se prikaze element za paginaciju-->
<script>
    $('#paginationFlightView').on('click', 'a', function (e) {
        if (this.href != null && this.href != "") {
            $.ajax({
                url: this.href,
                type: 'GET',
                success: function (result) {
                    $('#resultTable').html(result);
                },
                error: function (result) {
                    alert("Greška u dohvaćanju broja stranica.");
                }
            });
            return false;
        }
    });
</script>


<script>
    function GetNewData() {
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetNewData", "Home")',
            contentType: "application/json;charset=utf-8",
            success: function (result) {
                $('#resultTable').html(result);
            },
            error: function (error) {
                alert("Greška u autorizaciji.")
            }
        });
    }
</script>


