<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/daterangepickerJS")
    @Styles.Render("~/bundles/daterangepickerCSS")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <img src="~/loading.gif" id="loadingGIF" class="center-block" style="position:fixed;top:30%;left:40%;"/>
    <div id="mainDiv" class="container body-content" hidden>
        <br />
        @RenderBody()
    </div>

    
    @RenderSection("scripts", required: false)
</body>
</html>
